.info-section{
  padding-top: 40px;
  padding-bottom: 15px;
}

.info{
  border-radius: 30px;
}

.info > div{
  border-bottom: 1px solid #66666d55;
  display: flex;
  padding: 15px 28px;
  flex-direction: column;
  gap: 8px;
}

.info div h2{
  color: #636366;
  font-size: 16px;
  padding: 0;margin: 0;
}
div.info-genres{
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}
.info-genre{
  background-color: #303034;
  color: #acacae;
  text-wrap: nowrap;
  width: max-content;
  border-radius: 20px;
  padding: 7px 14px;
}

@media (max-width: 1000px){
  .info-section{
    padding-top: 0;
  }
  .info > div{
    padding: 10px 0 ;
  }

  .info > div:nth-child(3), .info > div:nth-child(1){
    display: none;
  }

}

@media (max-width: 620px){
  .info-section{
    padding-top: 0;
  }
  .info{
    max-width: 50%;
    margin: auto;
    overflow: hidden;
    border-radius: 0px;
  }
  .info > div:nth-child(3), .info > div:nth-child(1), .info > div:nth-child(2){
    display: none;
  }
    div.info-genres{
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 0;
  scrollbar-width: none;
  overflow-x: scroll;
  flex-wrap: nowrap;
}

  div.info > div:nth-child(4){
    border: none;
    width: 100%;
    padding: 0;
    margin: auto;
  }

  div.info-genres{
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 10px;
  scrollbar-width: none;
  overflow-x: scroll;
  flex-wrap: nowrap;
}
}