.header{
  display: flex;
  position: fixed;
  height: 75px;
  width: 100%;
  top: 0;
  align-items: center;
  z-index: 200;
  background-color: #0d0d14;
  justify-content: space-between;
}
.header-icon{
  width: 150px;
  height: 100%;
}

.header-links{
  display: flex;
  gap: 25px;
}
.header-links a{
  text-decoration: none;
  color: #8a8a8c;
}

.header-links .active{
  color: #ddd;
}

.searcher{
  padding: 0 20px;
}
.searcher input{
  background-color: #222328;
  padding: 7px 20px;
  border: none;
  border-radius: 15px;
  color: #ddd;
}
.searcher input:focus{
  outline: none;
}
@media (max-width: 768px){
  .header-links{
    display: none;
  }
}