.header{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  overflow-x: hidden;
  z-index: 100;
}

.header-img-container img{
  width: 50px;
}
.header-link-container  {
  display: flex;
  gap: 10px;
}

.header-link-container .header-link:first-child{
  color: var(--button-color);
}
.header-link-container .header-link{
  color: #6c7a8f;
  text-decoration: none;
  font-size: 20px;
}
.header-link-container{
  display: flex;
  gap: 40px;
}
.account-container{
  width: 50px;
  overflow: hidden;
  height: 35px;
}

.account-container a > img{
  width: 75%;
  height: 100%;
  margin-right: 20px;
  border-radius: 50%;
  margin-right: 100px;
}